/* hero section container  */
.heroSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 3rem;
  /* border-bottom: 1px solid var(--border); */
}

/* hero's left section */
.heroSectionContainer .leftSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.leftSection img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 1px solid darkorange;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586) inset;
}
.iconVerified {
  color: var(--blue);
}
.leftSection .heroSectionTitle {
  color: var(--title);
  font-size: 30px;
  margin-bottom: 0px;
}
.leftSection .heroSectionDescription {
  color: var(--subtitle);
  /* font-size: 17px; */
}
.heroSectionContainer .leftSection .heroSectionIcons {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}
.heroSectionContainer .rightSection {
  translate: 50px 30px;
  width: 30rem;
}
/* media query */
@media (max-width: 877px) {
  .parentAvatar {
    text-align: center;
  }
  .heroSectionContainer .rightSection {
    width: 100%;
  }
}
