/* hero section container  */
.heroSectionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  /* border-bottom: 1px solid var(--border); */
}

/* hero's left section */
.heroSectionContainer .leftSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}
.leftSection img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid rgb(148, 131, 37);
}
.leftSection .heroSectionTitle {
  color: var(--title);
  font-size: 30px;
  margin-bottom: 0px;
}
.leftSection .heroSectionDescription {
  color: var(--subtitle);
  /* font-size: 17px; */
}
.heroSectionContainer .leftSection .heroSectionIcons {
  display: flex;
  column-gap: 10px;
  margin-top: 10px;
}
.heroSectionContainer .rightSection {
  translate: 50px 30px;
}
