.contactContainer {
  margin: 2rem 0;
}

.contactContainer .contactHeader {
  position: relative;
}
.contactContainer .contactHeader .icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 10px;
}
/* contact header styles */
.contactContainer .contactHeader .contactTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 0 3rem;
  color: var(--title);
}
.contactContainer .contactHeader .contactDescription {
  color: var(--subtitle);
  font-size: 16px;
}

/* contact body styles (form and animation ) */
.contactContainer .contactBody {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 5rem;
}
/* .contactContainer .contactBody .rightSide {
 
} */
.contactContainer .contactBody .leftSide {
  width: 100%;
}
.contactContainer .contactBody .contactForm {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 7px;
}
.contactContainer .contactBody .contactForm label {
  font-size: 1.3rem;
  color: var(--subtitle);
}
.contactContainer .contactBody .contactForm input {
  height: 30px;
  /* display: inline; */
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--bgHeader);
  color: var(--subtitle);
}
.contactContainer .contactBody .contactForm textarea {
  height: 150px;
  /* width: 450px; */
  outline: none;
  border: 1px solid var(--border);
  border-radius: 5px;
  background-color: var(--bgHeader);
  color: var(--subtitle);
  resize: none;
}
.light .contactContainer .contactBody .contactForm input,
.light .contactContainer .contactBody .contactForm textarea {
  background-color: rgba(255, 255, 255, 0.162);
  border: 1px solid rgba(128, 128, 128, 0.451);
  box-shadow: 1px 1px 1px rgba(73, 73, 75, 0.105);
  color: #232324;
}
.contactContainer .contactBody .contactForm input:hover,
.contactContainer .contactBody .contactForm textarea:hover,
.contactContainer .contactBody .contactForm input:focus,
.contactContainer .contactBody .contactForm textarea:focus {
  border: 1px solid rgb(45, 212, 191);
}
.light .contactContainer .contactBody .contactForm input:hover,
.light .contactContainer .contactBody .contactForm textarea:hover,
.light .contactContainer .contactBody .contactForm input:focus,
.light .contactContainer .contactBody .contactForm textarea:focus {
  border: 1px solid rgb(78, 80, 80);
}
.contactContainer .contactBody .contactForm button {
  width: 100px;
  height: 35px;
  background-color: var(--bgHeader);
  border: 1px solid var(--border);
  color: var(--title);
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 2rem;
  opacity: 0.5;
  text-align: center;
  transition: 0.3s;
}
.light .contactContainer .contactBody .contactForm button {
  background-color: rgba(36, 37, 46, 1);
  color: white;
}

.contactContainer .contactBody .contactForm button:hover {
  cursor: pointer;
  opacity: 1;
}
@media (max-width: 768px) {
  .contactContainer .contactBody .rightSide {
    display: none;
  }
  /* .contactContainer .contactBody {
    justify-content: center;
  } */
  .contactContainer .contactBody .contactForm {
    width: 85%;
    overflow: hidden;
    padding-left: 0.2rem;
  }
  .contactContainer .contactBody .contactForm button {
    align-self: center;
  }
}
