/* header Container */
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--subtitle);
  margin-top: 1rem;
}

/* list and list items */
.navbarItems {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgHeader);
  border-radius: 50px;
  padding: 0.5rem 0;
  /* transition: 0.5s; */
}
.navbarItems li {
  margin: 0 1rem;
}
.headerContainer li a {
  color: var(--title);
  opacity: 0.9;
  font-size: 0.88rem;
  font-weight: 500;
  text-decoration: none;
}
.headerContainer li a:hover {
  color: var(--blue);
  opacity: 1;
  font-size: 0.9rem;
}

.headerContainer button.menu {
  display: none;
}
.headerContainer .fixed {
  position: fixed;
  inset: 0;
  background: rgba(40, 40, 48, 0.81);
  z-index: 33;
  backdrop-filter: blur(4px);
}
@keyframes myList {
  0% {
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
.headerContainer .popupModel {
  animation: myList 0.77s 1;
  width: 85%;
  position: relative;
  margin: 2rem auto 0;
  padding: 2rem 2rem 1rem;
  border-radius: 1rem;
  background-color: var(--secondary);
  list-style: none;
  color: white;
}
.headerContainer .popupModel li {
  border-bottom: 1px solid var(--border);
  padding: 0.5rem 0 0.77rem;
}
.headerContainer .popupModel .close {
  position: absolute;
  margin: 0 0 2rem;
  top: 0.5rem;
  right: 0.5rem;
  background-color: var(--secondary);
  font-size: 1.5rem;
  border: none;
  transition: 0.3s;
}
.headerContainer .popupModel .close:hover {
  color: crimson;
  font-size: 1.7rem;
  rotate: 180deg;
}
.headerContainer .popupModel li:last-child {
  border: none;
}
.headerContainer .popupModel li a {
  font-size: 1rem;
}
/* light and dark mode button */
.headerContainer button {
  border-radius: 50%;
  border: 1px solid rgba(244, 165, 96, 0.249);
  /* padding: 8px; */
  height: 2.4rem;
  width: 2.4rem;
  display: flex;
  background: var(--bgHeader);
  color: var(--subtitle);
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  box-shadow: 1px 1px 40px rgba(35, 35, 36, 0.165);
}
.headerContainer button:hover {
  color: var(--title);
  border: 1px solid rgba(244, 165, 96);
}

@media (max-width: 700px) {
  .navbarItems {
    display: none;
  }
  .headerContainer button.menu {
    display: flex;
  }
}
