.footerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerContainer ul {
  background-color: var(--secondary);
  color: var(--subtitle);
}
.footerContainer ul a {
  color: var(--title);
  font-size: 0.8rem;
  text-decoration: none;
}
.footerContainer ul a:hover {
  color: var(--blue);
  opacity: 1;
  font-size: 0.9rem;
}
